.transactions-account-name {
  color: darkgray;
  display: flex;
  justify-content: flex-start;
}

.transactions-list {
  margin-top: 60px;
}

.transactions-wrapper {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px 0px, rgba(0, 0, 0, 0.16) 0px 0px 2px 0px;
  border-radius: 16px;
  padding: 16px 32px;
}