#main {
  display: flex;
  justify-content: center;
}

#main-content {
  border: 1px solid black;
  height: 100vh;
  padding: 24px 30px;
  width: 32vw;
}

#navigation {
  border: 1px solid black;
  height: 100vh;
  width: 10vw;
}

.App {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.empower-logo {
  height: 75px;
}

.loading {
  margin-top: 10vh;
}